#alignright {text-align:right}
sup {font-size="-1"}
sub {font-size="-1"}
#overline {text-decoration:overline}
#nounderline {text-decoration:none}

#bluetype {color:blue}
#bluetypebold {color:blue; font-weight:bold}
#bluetypeitalic {color:blue; font-style:italic}
#greentype {color:green}
#greentypebold {color:green; font-weight:bold}
#greentypeitalic {color:green; font-style:italic}
#orangetype {color:orange}
#orangetypebold {color:orange; font-weight:bold}
#orangetypeitalic {color:orange; font-style:italic}
#redtype {color:red}
#redtypebold {color:red; font-weight:bold}
#redtypeitalic {color:red; font-style:italic}

#arial {font-family:Arial}
#border {border-width:thin; border-style:solid}
#doubleborder {border-width:thin; border-style:double}

body {background:#ffffff}

table th, td {vertical-align:top}
span {text-indent:60px}

h2 {color:#483d8b; line-height: 10px}
h3 {color:blue}
h4 {color:black; font-size:25px; font-weight:bold; margin-bottom: 5px;}
h5 {color:black; font-size:19px; font-weight:bold}
h6 {color:red; font-size:19px; font-weight:bold}
#body {line-height: 150%;}
body {line-height: 1.1;}

ol {margin-top: 0em; padding-left: 2em;}
ol li {margin-top: 3px; padding-left: 0em;}
ul {margin-top: 0em; padding-left: 1em;}
ul li {margin-top: 3px; padding-left: 0em;}

ol.none  {list-style-type: none; list-style-position: outside;}
ol.arabic  {list-style-type: decimal; list-style-position: outside;}
ol.lowerroman  {list-style-type: lower-roman; list-style-position: outside;}
ol.upperroman  {list-style-type: upper-roman; list-style-position: outside;}
ol.loweralpha  {list-style-type: lower-alpha; list-style-position: outside;}
ol.upperalpha  {list-style-type: upper-alpha; list-style-position: outside;}
ul.none  {list-style-type: none; list-style-position: outside;}
ul.circle  {list-style-type: circle; list-style-position: outside; padding-left: 2em;}
ul.disc  {list-style-type: disc; list-style-position: outside; padding-left: 2em;}
ul.square  {list-style-type: square; list-style-position: outside; padding-left: 2em;}
ol ol li,
ol ol ol li		{list-style-type:none}
ol ul li,
ol ol ul li,
ol ol ol ul li,
ol ol ol ol ul li,
ol ol ol ol ol ul li		{list-style-type:disc}
ol ul ul li,
ol ol ul ul li,
ol ol ol ul ul li,
ol ol ol ol ul ul li,
ol ol ol ol ol ul ul li		{list-style-type:circle}


#a:link {color:red; text-decoration:none}
a:link {color:red}
a:visited {color:#aa0000}

.wrap {
   max-width:900px;
   margin:auto;
}
.zoom {
   width:60%;
   max-width:100px;
   margin:auto;
   padding:1em;
   background:#fff;
   border-radius:1px;
   text-align:center;
}
.zoom img {
   display:block;
   margin:0 0 1em;
   max-width:100%;
   height:auto;
   border-radius:1px;
   transition:transform 0.5s;
}
.zoom img:hover {
   transform:scale(6.0) ;
}

